body{
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpeg);
}
h1{
    text-align: center;
    color: #009688;
    margin: 30px 0 50px;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
    margin-top: auto;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li :hover::after{
    width: 100%;
}
.gallery{
    margin: 20px 50px;
}
.gallery img{
    width: 230px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
}
.gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.3);
}
.gallery p{
    text-align: center;
    font-family: sans-serif;
    color: #009688;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}